<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular homework</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="">Home</a></li>
      <li><a routerLink="/create">New post</a></li>
      <li><a routerLink="/list">View posts</a></li>
      <li><a routerLink="/edit">Edit post</a></li>
    </ul>
  </div>
</nav>

<div style="text-align:center">
  <img width="300" alt="Angular Logo" src="https://www.georgiaaquarium.org/images/default-source/content-boxes/1x1/penguinplush1x1.jpg?sfvrsn=1">
</div>

<router-outlet></router-outlet>
